body {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: scroll;
}

.bubble {
    position: absolute;
    display: none;
    font-family: Helvetica;
    font-size: 0.8em;
    font-weight: bold;

    transform-origin: 50% 50%;
    animation-name: shake;
    animation-duration: 0.01s;
    animation-delay: 0s;
    animation-play-state: running;
}

@keyframes shake {
    from {transform: rotate(-5deg);}
    to {transform: rotate(5deg);}
}

svg {
    position: absolute;
}

#totalSvg {
    width: 100%;
    height: 100%;
    background-color: #C8C8C8;
    z-index: -999;
}

#audioSvg {
    z-index: 9999;
}

* {
    transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;

    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: paused;
}


.human {
    animation-name: walk;
    animation-duration: 2s;
}

#room3_3 .human .leftLeg, #room3_3 .human .leftArm {
    animation-name: rotateLeftLeg;
    animation-duration: 0.5s;
    animation-play-state: paused;
}

#room3_3 .human .rightLeg, #room3_3 .human .rightArm {
    transform-origin: 100% 0%;
    animation-name: rotateRightLeg;
    animation-duration: 0.5s;
    animation-play-state: paused;
}

@keyframes walk {
    from {transform: translate(-50px);}
    to {transform: translate(50px);}
}

@keyframes rotateLeftLeg {
    from {transform: rotate(-30deg);}
    to {transform: rotate(30deg);}
}

@keyframes rotateRightLeg {
    from {transform: rotate(-30deg);}
    to {transform: rotate(60deg);}
}

#room3_4 .human .leftArm, .broom {
     animation-name: leftArmSweep;
     animation-play-state: running;
}

#room3_4 .human .rightArm {
    transform-origin: 100% 0%;
    animation-name: rightArmSweep;
    animation-play-state: running;
}

@keyframes leftArmSweep {
    from {transform: rotate(20deg);}
    to {transform: rotate(-40deg);}
}

@keyframes rightArmSweep {
    from {transform: rotate(45deg);}
    to {transform: rotate(-15deg);}
}

#room3_3 .audio .speaker .outerSpeaker circle, #room3_3 .audio .speaker .innerSpeaker circle {
    transform-origin: 50% 50%;
}

.broom {
    transform-origin: 0% -100%;
}

.rightArm {
    transform-origin: 100% 0%;
}