body {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: scroll;
}

svg {
    position: absolute;
}

#totalSvg {
    width: 100%;
    height: 100%;
    background-color: #C8C8C8;
    z-index: -999;
}

#audioSvg {
    z-index: 9999;
}

* {
    transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;

    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;
}


#room3_3 .human{
    animation-name: walk;
    animation-duration: 2s;
}

#room3_3 .human .leftLeg, #room3_3 .human .leftArm {
    animation-name: rotateLeftLeg;
    animation-duration: 0.5s;
}

#room3_3 .human .rightLeg, #room3_3 .human .rightArm {
    transform-origin: 100% 0%;
    animation-name: rotateRightLeg;
    animation-duration: 0.5s;
}

@keyframes walk {
    from {transform: translate(0px);}
    to {transform: translate(50px);}
}

@keyframes rotateLeftLeg {
    from {transform: rotate(-30deg);}
    to {transform: rotate(30deg);}
}

@keyframes rotateRightLeg {
    from {transform: rotate(-30deg);}
    to {transform: rotate(60deg);}
}

#room3_4 .human .leftArm{
     animation-name: leftArmSweep;
     animation-play-state: running;
}

#room3_4 .human .rightArm {
    transform-origin: 100% 0%;
    animation-name: rightArmSweep;
    animation-play-state: running;
}

@keyframes leftArmSweep {
    from {transform: rotate(30deg);}
    to {transform: rotate(-30deg);}
}

@keyframes rightArmSweep {
    from {transform: rotate(45deg);}
    to {transform: rotate(-15deg);}
}
